<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.init</key>
    <string>A_.init.glif</string>
    <key>A.init.alt</key>
    <string>A_.init.alt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.init</key>
    <string>B_.init.glif</string>
    <key>B.init.alt</key>
    <string>B_.init.alt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.init</key>
    <string>C_.init.glif</string>
    <key>C.init.alt</key>
    <string>C_.init.alt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.init</key>
    <string>D_.init.glif</string>
    <key>D.init.alt</key>
    <string>D_.init.alt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.init</key>
    <string>E_.init.glif</string>
    <key>E.init.alt</key>
    <string>E_.init.alt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.init</key>
    <string>F_.init.glif</string>
    <key>F.init.alt</key>
    <string>F_.init.alt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.init</key>
    <string>G_.init.glif</string>
    <key>G.init.alt</key>
    <string>G_.init.alt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.init</key>
    <string>H_.init.glif</string>
    <key>H.init.alt</key>
    <string>H_.init.alt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.init</key>
    <string>I_.init.glif</string>
    <key>I.init.alt</key>
    <string>I_.init.alt.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.init</key>
    <string>J_.init.glif</string>
    <key>J.init.alt</key>
    <string>J_.init.alt.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.init</key>
    <string>K_.init.glif</string>
    <key>K.init.alt</key>
    <string>K_.init.alt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.init</key>
    <string>L_.init.glif</string>
    <key>L.init.alt</key>
    <string>L_.init.alt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.init</key>
    <string>M_.init.glif</string>
    <key>M.init.alt</key>
    <string>M_.init.alt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.init</key>
    <string>N_.init.glif</string>
    <key>N.init.alt</key>
    <string>N_.init.alt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.init</key>
    <string>O_.init.glif</string>
    <key>O.init.alt</key>
    <string>O_.init.alt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.init</key>
    <string>P_.init.glif</string>
    <key>P.init.alt</key>
    <string>P_.init.alt.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.init</key>
    <string>Q_.init.glif</string>
    <key>Q.init.alt</key>
    <string>Q_.init.alt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.init</key>
    <string>R_.init.glif</string>
    <key>R.init.alt</key>
    <string>R_.init.alt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.init</key>
    <string>S_.init.glif</string>
    <key>S.init.alt</key>
    <string>S_.init.alt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.init</key>
    <string>T_.init.glif</string>
    <key>T.init.alt</key>
    <string>T_.init.alt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.init</key>
    <string>U_.init.glif</string>
    <key>U.init.alt</key>
    <string>U_.init.alt.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.init</key>
    <string>V_.init.glif</string>
    <key>V.init.alt</key>
    <string>V_.init.alt.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.init</key>
    <string>W_.init.glif</string>
    <key>W.init.alt</key>
    <string>W_.init.alt.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.init</key>
    <string>X_.init.glif</string>
    <key>X.init.alt</key>
    <string>X_.init.alt.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.init</key>
    <string>Y_.init.glif</string>
    <key>Y.init.alt</key>
    <string>Y_.init.alt.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.init</key>
    <string>Z_.init.glif</string>
    <key>Z.init.alt</key>
    <string>Z_.init.alt.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.fina</key>
    <string>a.fina.glif</string>
    <key>a.fina.alt</key>
    <string>a.fina.alt.glif</string>
    <key>a_a.liga</key>
    <string>a_a.liga.glif</string>
    <key>a_a.liga.alt1</key>
    <string>a_a.liga.alt1.glif</string>
    <key>a_a.liga.alt2</key>
    <string>a_a.liga.alt2.glif</string>
    <key>a_a.liga.alt3</key>
    <string>a_a.liga.alt3.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.fina</key>
    <string>b.fina.glif</string>
    <key>b.fina.alt</key>
    <string>b.fina.alt.glif</string>
    <key>b_b.liga</key>
    <string>b_b.liga.glif</string>
    <key>b_b.liga.alt1</key>
    <string>b_b.liga.alt1.glif</string>
    <key>b_b.liga.alt2</key>
    <string>b_b.liga.alt2.glif</string>
    <key>b_b.liga.alt3</key>
    <string>b_b.liga.alt3.glif</string>
    <key>b_c.liga</key>
    <string>b_c.liga.glif</string>
    <key>b_c.liga.alt1</key>
    <string>b_c.liga.alt1.glif</string>
    <key>b_c.liga.alt3</key>
    <string>b_c.liga.alt3.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.fina</key>
    <string>c.fina.glif</string>
    <key>c.fina.alt</key>
    <string>c.fina.alt.glif</string>
    <key>c_c.liga</key>
    <string>c_c.liga.glif</string>
    <key>c_c.liga.alt1</key>
    <string>c_c.liga.alt1.glif</string>
    <key>c_c.liga.alt2</key>
    <string>c_c.liga.alt2.glif</string>
    <key>c_c.liga.alt3</key>
    <string>c_c.liga.alt3.glif</string>
    <key>c_d.liga</key>
    <string>c_d.liga.glif</string>
    <key>c_d.liga.alt1</key>
    <string>c_d.liga.alt1.glif</string>
    <key>c_d.liga.alt3</key>
    <string>c_d.liga.alt3.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.fina</key>
    <string>d.fina.glif</string>
    <key>d.fina.alt</key>
    <string>d.fina.alt.glif</string>
    <key>d_d.liga</key>
    <string>d_d.liga.glif</string>
    <key>d_d.liga.alt1</key>
    <string>d_d.liga.alt1.glif</string>
    <key>d_d.liga.alt2</key>
    <string>d_d.liga.alt2.glif</string>
    <key>d_d.liga.alt3</key>
    <string>d_d.liga.alt3.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.fina</key>
    <string>e.fina.glif</string>
    <key>e.fina.alt</key>
    <string>e.fina.alt.glif</string>
    <key>e_d.liga</key>
    <string>e_d.liga.glif</string>
    <key>e_d.liga.alt3</key>
    <string>e_d.liga.alt3.glif</string>
    <key>e_e.liga</key>
    <string>e_e.liga.glif</string>
    <key>e_e.liga.alt1</key>
    <string>e_e.liga.alt1.glif</string>
    <key>e_e.liga.alt2</key>
    <string>e_e.liga.alt2.glif</string>
    <key>e_e.liga.alt3</key>
    <string>e_e.liga.alt3.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.alt1</key>
    <string>eight.alt1.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.fina</key>
    <string>f.fina.glif</string>
    <key>f.fina.alt</key>
    <string>f.fina.alt.glif</string>
    <key>f_f.liga</key>
    <string>f_f.liga.glif</string>
    <key>f_f.liga.alt1</key>
    <string>f_f.liga.alt1.glif</string>
    <key>f_f.liga.alt2</key>
    <string>f_f.liga.alt2.glif</string>
    <key>f_f.liga.alt3</key>
    <string>f_f.liga.alt3.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.alt1</key>
    <string>five.alt1.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.alt1</key>
    <string>four.alt1.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.fina</key>
    <string>g.fina.glif</string>
    <key>g.fina.alt</key>
    <string>g.fina.alt.glif</string>
    <key>g_g.liga</key>
    <string>g_g.liga.glif</string>
    <key>g_g.liga.alt1</key>
    <string>g_g.liga.alt1.glif</string>
    <key>g_g.liga.alt2</key>
    <string>g_g.liga.alt2.glif</string>
    <key>g_g.liga.alt3</key>
    <string>g_g.liga.alt3.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.fina</key>
    <string>h.fina.glif</string>
    <key>h.fina.alt</key>
    <string>h.fina.alt.glif</string>
    <key>h_h.liga</key>
    <string>h_h.liga.glif</string>
    <key>h_h.liga.alt1</key>
    <string>h_h.liga.alt1.glif</string>
    <key>h_h.liga.alt2</key>
    <string>h_h.liga.alt2.glif</string>
    <key>h_h.liga.alt3</key>
    <string>h_h.liga.alt3.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.fina</key>
    <string>i.fina.glif</string>
    <key>i.fina.alt</key>
    <string>i.fina.alt.glif</string>
    <key>i_i.liga</key>
    <string>i_i.liga.glif</string>
    <key>i_i.liga.alt1</key>
    <string>i_i.liga.alt1.glif</string>
    <key>i_i.liga.alt2</key>
    <string>i_i.liga.alt2.glif</string>
    <key>i_i.liga.alt3</key>
    <string>i_i.liga.alt3.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.fina</key>
    <string>j.fina.glif</string>
    <key>j.fina.alt</key>
    <string>j.fina.alt.glif</string>
    <key>j_j.liga</key>
    <string>j_j.liga.glif</string>
    <key>j_j.liga.alt1</key>
    <string>j_j.liga.alt1.glif</string>
    <key>j_j.liga.alt2</key>
    <string>j_j.liga.alt2.glif</string>
    <key>j_j.liga.alt3</key>
    <string>j_j.liga.alt3.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.fina</key>
    <string>k.fina.glif</string>
    <key>k.fina.alt</key>
    <string>k.fina.alt.glif</string>
    <key>k_k.liga</key>
    <string>k_k.liga.glif</string>
    <key>k_k.liga.alt1</key>
    <string>k_k.liga.alt1.glif</string>
    <key>k_k.liga.alt2</key>
    <string>k_k.liga.alt2.glif</string>
    <key>k_k.liga.alt3</key>
    <string>k_k.liga.alt3.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.fina</key>
    <string>l.fina.glif</string>
    <key>l.fina.alt</key>
    <string>l.fina.alt.glif</string>
    <key>l_l.liga</key>
    <string>l_l.liga.glif</string>
    <key>l_l.liga.alt1</key>
    <string>l_l.liga.alt1.glif</string>
    <key>l_l.liga.alt2</key>
    <string>l_l.liga.alt2.glif</string>
    <key>l_l.liga.alt3</key>
    <string>l_l.liga.alt3.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.fina</key>
    <string>m.fina.glif</string>
    <key>m.fina.alt</key>
    <string>m.fina.alt.glif</string>
    <key>m_m.liga</key>
    <string>m_m.liga.glif</string>
    <key>m_m.liga.alt1</key>
    <string>m_m.liga.alt1.glif</string>
    <key>m_m.liga.alt2</key>
    <string>m_m.liga.alt2.glif</string>
    <key>m_m.liga.alt3</key>
    <string>m_m.liga.alt3.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.fina</key>
    <string>n.fina.glif</string>
    <key>n.fina.alt</key>
    <string>n.fina.alt.glif</string>
    <key>n_n.liga</key>
    <string>n_n.liga.glif</string>
    <key>n_n.liga.alt1</key>
    <string>n_n.liga.alt1.glif</string>
    <key>n_n.liga.alt2</key>
    <string>n_n.liga.alt2.glif</string>
    <key>n_n.liga.alt3</key>
    <string>n_n.liga.alt3.glif</string>
    <key>n_u.liga</key>
    <string>n_u.liga.glif</string>
    <key>n_u.liga.alt1</key>
    <string>n_u.liga.alt1.glif</string>
    <key>n_u.liga.alt2</key>
    <string>n_u.liga.alt2.glif</string>
    <key>n_u.liga.alt3</key>
    <string>n_u.liga.alt3.glif</string>
    <key>newGlyph</key>
    <string>newG_lyph.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.alt1</key>
    <string>nine.alt1.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.fina</key>
    <string>o.fina.glif</string>
    <key>o.fina.alt</key>
    <string>o.fina.alt.glif</string>
    <key>o_o.liga</key>
    <string>o_o.liga.glif</string>
    <key>o_o.liga.alt1</key>
    <string>o_o.liga.alt1.glif</string>
    <key>o_o.liga.alt2</key>
    <string>o_o.liga.alt2.glif</string>
    <key>o_o.liga.alt3</key>
    <string>o_o.liga.alt3.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.alt1</key>
    <string>one.alt1.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.fina</key>
    <string>p.fina.glif</string>
    <key>p.fina.alt</key>
    <string>p.fina.alt.glif</string>
    <key>p_p.liga</key>
    <string>p_p.liga.glif</string>
    <key>p_p.liga.alt1</key>
    <string>p_p.liga.alt1.glif</string>
    <key>p_p.liga.alt2</key>
    <string>p_p.liga.alt2.glif</string>
    <key>p_p.liga.alt3</key>
    <string>p_p.liga.alt3.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.fina</key>
    <string>q.fina.glif</string>
    <key>q.fina.alt</key>
    <string>q.fina.alt.glif</string>
    <key>q_q.liga</key>
    <string>q_q.liga.glif</string>
    <key>q_q.liga.alt1</key>
    <string>q_q.liga.alt1.glif</string>
    <key>q_q.liga.alt2</key>
    <string>q_q.liga.alt2.glif</string>
    <key>q_q.liga.alt3</key>
    <string>q_q.liga.alt3.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.fina</key>
    <string>r.fina.glif</string>
    <key>r.fina.alt</key>
    <string>r.fina.alt.glif</string>
    <key>r_r.liga</key>
    <string>r_r.liga.glif</string>
    <key>r_r.liga.alt1</key>
    <string>r_r.liga.alt1.glif</string>
    <key>r_r.liga.alt2</key>
    <string>r_r.liga.alt2.glif</string>
    <key>r_r.liga.alt3</key>
    <string>r_r.liga.alt3.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.fina</key>
    <string>s.fina.glif</string>
    <key>s.fina.alt</key>
    <string>s.fina.alt.glif</string>
    <key>s_s.liga</key>
    <string>s_s.liga.glif</string>
    <key>s_s.liga.alt1</key>
    <string>s_s.liga.alt1.glif</string>
    <key>s_s.liga.alt2</key>
    <string>s_s.liga.alt2.glif</string>
    <key>s_s.liga.alt3</key>
    <string>s_s.liga.alt3.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.alt1</key>
    <string>seven.alt1.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.alt1</key>
    <string>six.alt1.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>space.001</key>
    <string>space.001.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.fina</key>
    <string>t.fina.glif</string>
    <key>t.fina.alt</key>
    <string>t.fina.alt.glif</string>
    <key>t_t.liga</key>
    <string>t_t.liga.glif</string>
    <key>t_t.liga.alt1</key>
    <string>t_t.liga.alt1.glif</string>
    <key>t_t.liga.alt2</key>
    <string>t_t.liga.alt2.glif</string>
    <key>t_t.liga.alt3</key>
    <string>t_t.liga.alt3.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.alt1</key>
    <string>three.alt1.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.alt1</key>
    <string>two.alt1.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.fina</key>
    <string>u.fina.glif</string>
    <key>u.fina.alt</key>
    <string>u.fina.alt.glif</string>
    <key>u_n.liga</key>
    <string>u_n.liga.glif</string>
    <key>u_n.liga.alt1</key>
    <string>u_n.liga.alt1.glif</string>
    <key>u_n.liga.alt3</key>
    <string>u_n.liga.alt3.glif</string>
    <key>u_u.liga</key>
    <string>u_u.liga.glif</string>
    <key>u_u.liga.alt1</key>
    <string>u_u.liga.alt1.glif</string>
    <key>u_u.liga.alt2</key>
    <string>u_u.liga.alt2.glif</string>
    <key>u_u.liga.alt3</key>
    <string>u_u.liga.alt3.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.fina</key>
    <string>v.fina.glif</string>
    <key>v.fina.alt</key>
    <string>v.fina.alt.glif</string>
    <key>v_v.liga</key>
    <string>v_v.liga.glif</string>
    <key>v_v.liga.alt1</key>
    <string>v_v.liga.alt1.glif</string>
    <key>v_v.liga.alt2</key>
    <string>v_v.liga.alt2.glif</string>
    <key>v_v.liga.alt3</key>
    <string>v_v.liga.alt3.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.fina</key>
    <string>w.fina.glif</string>
    <key>w.fina.alt</key>
    <string>w.fina.alt.glif</string>
    <key>w_w.liga</key>
    <string>w_w.liga.glif</string>
    <key>w_w.liga.alt1</key>
    <string>w_w.liga.alt1.glif</string>
    <key>w_w.liga.alt2</key>
    <string>w_w.liga.alt2.glif</string>
    <key>w_w.liga.alt3</key>
    <string>w_w.liga.alt3.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.fina</key>
    <string>x.fina.glif</string>
    <key>x.fina.alt</key>
    <string>x.fina.alt.glif</string>
    <key>x_x.liga</key>
    <string>x_x.liga.glif</string>
    <key>x_x.liga.alt1</key>
    <string>x_x.liga.alt1.glif</string>
    <key>x_x.liga.alt2</key>
    <string>x_x.liga.alt2.glif</string>
    <key>x_x.liga.alt3</key>
    <string>x_x.liga.alt3.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.fina</key>
    <string>y.fina.glif</string>
    <key>y.fina.alt</key>
    <string>y.fina.alt.glif</string>
    <key>y_y.liga</key>
    <string>y_y.liga.glif</string>
    <key>y_y.liga.alt1</key>
    <string>y_y.liga.alt1.glif</string>
    <key>y_y.liga.alt2</key>
    <string>y_y.liga.alt2.glif</string>
    <key>y_y.liga.alt3</key>
    <string>y_y.liga.alt3.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.fina</key>
    <string>z.fina.glif</string>
    <key>z.fina.alt</key>
    <string>z.fina.alt.glif</string>
    <key>z_z.liga</key>
    <string>z_z.liga.glif</string>
    <key>z_z.liga.alt1</key>
    <string>z_z.liga.alt1.glif</string>
    <key>z_z.liga.alt2</key>
    <string>z_z.liga.alt2.glif</string>
    <key>z_z.liga.alt3</key>
    <string>z_z.liga.alt3.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.alt1</key>
    <string>zero.alt1.glif</string>
  </dict>
</plist>
