{
.appVersion = "3200";
.formatVersion = 3;
axes = (
{
name = "relative x advance";
tag = rxad;
},
{
name = "relative y advance";
tag = ryad;
}
);
classes = (
{
code = "B D E F H I J K L M N P R T U V W X Y Z ";
name = uppercase_flat_heights;
},
{
code = "C G O Q S J U ";
name = uppercase_round_heights;
},
{
code = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ";
name = uppercase_default_all;
},
{
code = "A.init.alt B.init.alt C.init.alt D.init.alt E.init.alt F.init.alt G.init.alt H.init.alt I.init.alt J.init.alt K.init.alt L.init.alt M.init.alt N.init.alt O.init.alt P.init.alt Q.init.alt R.init.alt S.init.alt T.init.alt U.init.alt V.init.alt W.init.alt X.init.alt Y.init.alt Z.init.alt
";
name = uppercase_init_alt;
},
{
code = "a b c d e f g h i j k l m n o p q r s t u v w x y z ";
name = lowercase_default_all;
},
{
code = "a.fina.alt b.fina.alt c.fina.alt d.fina.alt e.fina.alt f.fina.alt g.fina.alt h.fina.alt i.fina.alt j.fina.alt k.fina.alt l.fina.alt m.fina.alt n.fina.alt o.fina.alt p.fina.alt q.fina.alt r.fina.alt s.fina.alt t.fina.alt u.fina.alt v.fina.alt w.fina.alt x.fina.alt y.fina.alt z.fina.alt ";
name = lowercase_fina_alt;
},
{
code = "A E I O U Y
";
name = uppercase_vowels;
},
{
code = "B C D F G H J K L M N P Q R S T V W X Y Z";
name = uppercase_consonants;
},
{
code = "a_a.liga a_n.liga a_t.liga b_b.liga b_c.liga c_c.liga c_d.liga d_d.liga e_d.liga e_e.liga e_n.liga e_r.liga e_s.liga f_f.liga g_g.liga h_a.liga h_e.liga h_h.liga h_i.liga i_i.liga i_n.liga i_s.liga i_t.liga j_j.liga k_k.liga l_l.liga m_m.liga n_d.liga n_g.liga n_n.liga n_u.liga o_n.liga o_o.liga o_r.liga o_u.liga p_p.liga q_q.liga r_e.liga r_r.liga s_s.liga t_h.liga t_o.liga t_t.liga u_n.liga u_u.liga v_v.liga w_w.liga x_x.liga y_y.liga z_z.liga ";
name = ligatures_default;
},
{
code = "a_a.liga.alt1 a_n.liga.alt1 a_t.liga.alt1 b_b.liga.alt1 b_c.liga.alt1 c_c.liga.alt1 c_d.liga.alt1 d_d.liga.alt1 e_d.liga.alt1 e_e.liga.alt1 e_n.liga.alt1 e_r.liga.alt1 e_s.liga.alt1 f_f.liga.alt1 g_g.liga.alt1 h_a.liga.alt1 h_e.liga.alt1 h_h.liga.alt1 h_i.liga.alt1 i_i.liga.alt1 i_n.liga.alt1 i_s.liga.alt1 i_t.liga.alt1 j_j.liga.alt1 k_k.liga.alt1 l_l.liga.alt1 m_m.liga.alt1 n_d.liga.alt1 n_g.liga.alt1 n_n.liga.alt1 n_u.liga.alt1 o_n.liga.alt1 o_o.liga.alt1 o_r.liga.alt1 o_u.liga.alt1 p_p.liga.alt1 q_q.liga.alt1 r_e.liga.alt1 r_r.liga.alt1 s_s.liga.alt1 t_h.liga.alt1 t_o.liga.alt1 t_t.liga.alt1 u_n.liga.alt1 u_u.liga.alt1 v_v.liga.alt1 w_w.liga.alt1 x_x.liga.alt1 y_y.liga.alt1 z_z.liga.alt1 ";
name = ligatures_alt1;
},
{
code = "a_a.liga.alt2 a_n.liga.alt2 a_t.liga.alt2 b_b.liga.alt2 b_c.liga.alt2 c_c.liga.alt2 c_d.liga.alt2 d_d.liga.alt2 e_d.liga.alt2 e_e.liga.alt2 e_n.liga.alt2 e_r.liga.alt2 e_s.liga.alt2 f_f.liga.alt2 g_g.liga.alt2 h_a.liga.alt2 h_e.liga.alt2 h_h.liga.alt2 h_i.liga.alt2 i_i.liga.alt2 i_n.liga.alt2 i_s.liga.alt2 i_t.liga.alt2 j_j.liga.alt2 k_k.liga.alt2 l_l.liga.alt2 m_m.liga.alt2 n_d.liga.alt2 n_g.liga.alt2 n_n.liga.alt2 n_u.liga.alt2 o_n.liga.alt2 o_o.liga.alt2 o_r.liga.alt2 o_u.liga.alt2 p_p.liga.alt2 q_q.liga.alt2 r_e.liga.alt2 r_r.liga.alt2 s_s.liga.alt2 t_h.liga.alt2 t_o.liga.alt2 t_t.liga.alt2 u_n.liga.alt2 u_u.liga.alt2 v_v.liga.alt2 w_w.liga.alt2 x_x.liga.alt2 y_y.liga.alt2 z_z.liga.alt2 ";
name = ligatures_alt2;
},
{
code = "a_a.liga.alt3 a_n.liga.alt3 a_t.liga.alt3 b_b.liga.alt3 b_c.liga.alt3 c_c.liga.alt3 c_d.liga.alt3 d_d.liga.alt3 e_d.liga.alt3 e_e.liga.alt3 e_n.liga.alt3 e_r.liga.alt3 e_s.liga.alt3 f_f.liga.alt3 g_g.liga.alt3 h_a.liga.alt3 h_e.liga.alt3 h_h.liga.alt3 h_i.liga.alt3 i_i.liga.alt3 i_n.liga.alt3 i_s.liga.alt3 i_t.liga.alt3 j_j.liga.alt3 k_k.liga.alt3 l_l.liga.alt3 m_m.liga.alt3 n_d.liga.alt3 n_g.liga.alt3 n_n.liga.alt3 n_u.liga.alt3 o_n.liga.alt3 o_o.liga.alt3 o_r.liga.alt3 o_u.liga.alt3 p_p.liga.alt3 q_q.liga.alt3 r_e.liga.alt3 r_r.liga.alt3 s_s.liga.alt3 t_h.liga.alt3 t_o.liga.alt3 t_t.liga.alt3 u_n.liga.alt3 u_u.liga.alt3 v_v.liga.alt3 w_w.liga.alt3 x_x.liga.alt3 y_y.liga.alt3 z_z.liga.alt3 ";
name = ligatures_alt3;
},
{
code = "a e i o u y";
name = lowercase_vowels;
},
{
code = " b c d f g h j k l m n p q r s t v w x z 
";
name = lowercase_consonants;
}
);
date = "2023-03-28 10:57:03 +0000";
familyName = "Disorientation Sans";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature calt;
feature init;
feature fina;
";
tag = aalt;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub a a by a_a.liga;
sub a n by a_n.liga;
sub a t by a_t.liga;
sub b b by b_b.liga;
sub b c by b_c.liga;
sub c c by c_c.liga;
sub c d by c_d.liga;
sub d d by d_d.liga;
sub e d by e_d.liga;
sub e e by e_e.liga;
sub e n by e_n.liga;
sub e r by e_r.liga;
sub e s by e_s.liga;
sub f f by f_f.liga;
sub g g by g_g.liga;
sub h a by h_a.liga;
sub h e by h_e.liga;
sub h h by h_h.liga;
sub h i by h_i.liga;
sub i i by i_i.liga;
sub i n by i_n.liga;
sub i s by i_s.liga;
sub i t by i_t.liga;
sub j j by j_j.liga;
sub k k by k_k.liga;
sub l l by l_l.liga;
sub m m by m_m.liga;
sub n d by n_d.liga;
sub n g by n_g.liga;
sub n n by n_n.liga;
sub n u by n_u.liga;
sub o n by o_n.liga;
sub o o by o_o.liga;
sub o r by o_r.liga;
sub o u by o_u.liga;
sub p p by p_p.liga;
sub q q by q_q.liga;
sub r e by r_e.liga;
sub r r by r_r.liga;
sub s s by s_s.liga;
sub t h by t_h.liga;
sub t o by t_o.liga;
sub t t by t_t.liga;
sub u n by u_n.liga;
sub u u by u_u.liga;
sub v v by v_v.liga;
sub w w by w_w.liga;
sub x x by x_x.liga;
sub y y by y_y.liga;
sub z z by z_z.liga;
";
tag = liga;
},
{
code = "sub space @uppercase_default_all' by @uppercase_init_alt;
sub @lowercase_default_all' space by @lowercase_fina_alt;

sub @ligatures_default @ligatures_default' by @ligatures_alt1;
sub @ligatures_alt1 @ligatures_default' by @ligatures_alt2;
sub @ligatures_alt2 @ligatures_default' by @ligatures_alt3;

sub @ligatures_default [@uppercase_vowels @lowercase_vowels] @ligatures_default' by @ligatures_alt1;

sub @ligatures_default [@uppercase_consonants @lowercase_consonants] @ligatures_default' by @ligatures_alt2;

sub @ligatures_default [@uppercase_vowels @lowercase_consonants] @ligatures_default' by @ligatures_alt3;

";
tag = calt;
},
{
automatic = 1;
code = "sub A by A.init;
sub B by B.init;
sub C by C.init;
sub D by D.init;
sub E by E.init;
sub F by F.init;
sub G by G.init;
sub H by H.init;
sub I by I.init;
sub J by J.init;
sub K by K.init;
sub L by L.init;
sub M by M.init;
sub N by N.init;
sub O by O.init;
sub P by P.init;
sub Q by Q.init;
sub R by R.init;
sub S by S.init;
sub T by T.init;
sub U by U.init;
sub V by V.init;
sub W by W.init;
sub X by X.init;
sub Y by Y.init;
sub Z by Z.init;
";
tag = init;
},
{
automatic = 1;
code = "sub a by a.fina;
sub b by b.fina;
sub c by c.fina;
sub d by d.fina;
sub e by e.fina;
sub f by f.fina;
sub g by g.fina;
sub h by h.fina;
sub i by i.fina;
sub j by j.fina;
sub k by k.fina;
sub l by l.fina;
sub m by m.fina;
sub n by n.fina;
sub o by o.fina;
sub p by p.fina;
sub q by q.fina;
sub r by r.fina;
sub s by s.fina;
sub t by t.fina;
sub u by u.fina;
sub v by v.fina;
sub w by w.fina;
sub x by x.fina;
sub y by y.fina;
sub z by z.fina;
";
tag = fina;
}
);
fontMaster = (
{
axesValues = (
0,
0
);
customParameters = (
{
name = paramArea;
value = 400;
},
{
name = paramDepth;
value = 10;
}
);
iconName = SemiBold;
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
}
);
name = Default;
stemValues = (
100
);
},
{
axesValues = (
100,
0
);
customParameters = (
{
name = paramArea;
value = 300;
},
{
name = paramDepth;
value = 10;
}
);
guides = (
{
pos = (495,-300);
},
{
locked = 1;
pos = (48,508);
}
);
iconName = SemiBold_SemiExtended;
id = m002;
metricValues = (
{
over = 16;
pos = 900;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -300;
}
);
name = "Horizontal Max Advance";
stemValues = (
100
);
},
{
axesValues = (
0,
100
);
customParameters = (
{
name = paramArea;
value = 400;
},
{
name = paramDepth;
value = 10;
}
);
guides = (
{
locked = 1;
name = "max pull down ";
pos = (486,-208);
},
{
locked = 1;
name = "max pull up";
pos = (-318,808);
}
);
iconName = SemiBold_Condensed;
id = m003;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
}
);
name = "Vertical Max Advance";
stemValues = (
100
);
}
);
instances = (
{
axesValues = (
0,
0
);
instanceInterpolations = {
m01 = 1;
};
name = "No Advance";
},
{
axesValues = (
100,
0
);
instanceInterpolations = {
m002 = 1;
};
name = "Horizontal Max Advance";
},
{
axesValues = (
0,
100
);
instanceInterpolations = {
m003 = 1;
};
name = "Vertical Max Advance";
}
);
kerningLTR = {
m01 = {
"@MMK_L_A" = {
"@MMK_R_A" = -10;
"@MMK_R_H" = -20;
"@MMK_R_J" = -120;
"@MMK_R_O" = -50;
"@MMK_R_T" = -100;
"@MMK_R_U" = -20;
"@MMK_R_V" = -120;
"@MMK_R_Y" = -100;
"@MMK_R_t" = -80;
"@MMK_R_v" = -40;
"@MMK_R_y" = -60;
};
"@MMK_L_B" = {
"@MMK_R_A" = -30;
};
"@MMK_L_D" = {
"@MMK_R_A" = -19;
};
"@MMK_L_F" = {
"@MMK_R_A" = -140;
};
"@MMK_L_H" = {
"@MMK_R_A" = -20;
};
"@MMK_L_I" = {
"@MMK_R_A" = -20;
};
"@MMK_L_K" = {
"@MMK_R_A" = -30;
};
"@MMK_L_L" = {
"@MMK_R_o" = -30;
"@MMK_R_y" = -70;
};
"@MMK_L_O" = {
"@MMK_R_A" = -50;
};
"@MMK_L_P" = {
"@MMK_R_A" = -120;
};
"@MMK_L_T" = {
"@MMK_R_A" = -100;
};
"@MMK_L_U" = {
"@MMK_R_A" = -17;
};
"@MMK_L_V" = {
"@MMK_R_A" = -120;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -100;
};
"@MMK_L_f" = {
"@MMK_R_A" = -60;
"@MMK_R_o" = -30;
};
"@MMK_L_g" = {
"@MMK_R_s" = 10;
};
"@MMK_L_l" = {
"@MMK_R_u" = 20;
};
"@MMK_L_n" = {
"@MMK_R_v" = -10;
};
"@MMK_L_o" = {
"@MMK_R_l" = 10;
"@MMK_R_n" = 10;
"@MMK_R_s" = 20;
"@MMK_R_v" = -20;
};
"@MMK_L_r" = {
"@MMK_R_A" = -70;
"@MMK_R_a" = -20;
"@MMK_R_o" = -20;
"@MMK_R_v" = 20;
};
"@MMK_L_s" = {
"@MMK_R_l" = 10;
"@MMK_R_y" = 0;
};
"@MMK_L_u" = {
"@MMK_R_v" = -20;
};
"@MMK_L_v" = {
"@MMK_R_A" = -60;
"@MMK_R_a" = -20;
"@MMK_R_g" = -30;
"@MMK_R_o" = -20;
};
A = {
B = -20;
};
};
m002 = {
"@MMK_L_A" = {
"@MMK_R_y" = -50;
one = -60;
seven = -60;
seven.alt1 = -40;
};
"@MMK_L_D" = {
"@MMK_R_y" = 20;
};
"@MMK_L_F" = {
"@MMK_R_a" = -100;
"@MMK_R_n" = -80;
"@MMK_R_o" = -100;
e_d.liga = -80;
};
"@MMK_L_L" = {
"@MMK_R_o" = -30;
"@MMK_R_y" = -70;
};
"@MMK_L_O" = {
"@MMK_R_o" = -20;
};
"@MMK_L_P" = {
"@MMK_R_n" = -20;
"@MMK_R_o" = -120;
"@MMK_R_u" = -100;
};
"@MMK_L_T" = {
"@MMK_R_a" = -100;
};
"@MMK_L_V" = {
"@MMK_R_o" = -100;
};
"@MMK_L_Y" = {
"@MMK_R_a" = -100;
};
"@MMK_L_f" = {
"@MMK_R_g" = 0;
"@MMK_R_o" = -30;
};
"@MMK_L_g" = {
"@MMK_R_s" = 10;
};
"@MMK_L_n" = {
"@MMK_R_v" = -10;
};
"@MMK_L_o" = {
"@MMK_R_n" = 10;
"@MMK_R_s" = -10;
"@MMK_R_v" = -20;
seven = -40;
};
"@MMK_L_r" = {
"@MMK_R_a" = -20;
"@MMK_R_o" = -20;
"@MMK_R_v" = 20;
};
"@MMK_L_s" = {
"@MMK_R_l" = 10;
"@MMK_R_t" = -60;
"@MMK_R_y" = 0;
};
"@MMK_L_u" = {
"@MMK_R_v" = -20;
};
"@MMK_L_v" = {
"@MMK_R_a" = -20;
"@MMK_R_g" = -30;
"@MMK_R_o" = -20;
};
A = {
B = 0;
};
};
m003 = {
"@MMK_L_A" = {
"@MMK_R_H" = 0;
"@MMK_R_J" = -110;
"@MMK_R_T" = -90;
"@MMK_R_U" = -50;
"@MMK_R_V" = -100;
"@MMK_R_Y" = -140;
"@MMK_R_t" = -40;
};
"@MMK_L_B" = {
"@MMK_R_A" = 40;
};
"@MMK_L_E" = {
"@MMK_R_A" = -30;
};
"@MMK_L_F" = {
"@MMK_R_A" = -80;
};
"@MMK_L_H" = {
"@MMK_R_A" = 0;
};
"@MMK_L_L" = {
"@MMK_R_A" = -80;
"@MMK_R_o" = -30;
"@MMK_R_y" = -70;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -90;
"@MMK_R_o" = -120;
u_n.liga = -120;
};
"@MMK_L_U" = {
"@MMK_R_A" = -50;
};
"@MMK_L_V" = {
"@MMK_R_A" = -110;
"@MMK_R_o" = -80;
"@MMK_R_u" = -60;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -140;
"@MMK_R_o" = -120;
i_i.liga = -160;
u_n.liga = -120;
};
"@MMK_L_Z" = {
i_i.liga = -30;
};
"@MMK_L_f" = {
"@MMK_R_A" = -60;
"@MMK_R_o" = -30;
};
"@MMK_L_g" = {
"@MMK_R_s" = 10;
};
"@MMK_L_n" = {
"@MMK_R_v" = -10;
};
"@MMK_L_o" = {
"@MMK_R_n" = 10;
"@MMK_R_s" = 20;
"@MMK_R_v" = -20;
};
"@MMK_L_r" = {
"@MMK_R_A" = -60;
"@MMK_R_a" = -20;
"@MMK_R_o" = -20;
"@MMK_R_v" = 20;
};
"@MMK_L_s" = {
"@MMK_R_l" = 10;
"@MMK_R_y" = 0;
};
"@MMK_L_u" = {
"@MMK_R_v" = -20;
r_e.liga = 20;
};
"@MMK_L_v" = {
"@MMK_R_a" = -20;
"@MMK_R_g" = -30;
"@MMK_R_o" = -20;
};
A = {
B = 0;
};
c_c.liga = {
e_d.liga = -80;
};
x_x.liga.alt3 = {
y_y.liga.alt3 = -30;
};
y_y.liga = {
"@MMK_R_n" = -40;
};
y_y.liga.alt3 = {
z_z.liga.alt3 = -30;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
stems = (
{
name = Vertical;
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
HH = "90";
HV = "105";
OH = "100";
OV = "105";
nV = "100";
nd = "80";
oH = "80";
oV = "100";
tH = "80";
};
};
backdropGlyphLib = {
AE = (
(
A,
1,
0
),
(
E,
1,
0
),
(
OE,
1,
0
)
);
B = (
(
D,
1,
0
),
(
E,
1,
0
),
(
H,
0,
0
),
(
P,
1,
0
),
(
R,
0,
0
),
(
Germandbls,
0,
0
),
(
germandbls,
0,
0
),
(
three,
0,
0
),
(
eight,
0,
0
)
);
C = (
(
D,
0,
0
),
(
G,
1,
0
),
(
O,
1,
0
),
(
Q,
0,
0
)
);
D = (
(
B,
0,
0
),
(
C,
0,
0
),
(
E,
0,
0
),
(
G,
0,
0
),
(
O,
1,
0
),
(
Q,
0,
0
)
);
E = (
(
B,
1,
0
),
(
D,
0,
0
),
(
F,
1,
0
),
(
H,
0,
0
)
);
Eng = (
(
N,
1,
0
),
(
j,
1,
0
)
);
F = (
(
E,
1,
0
),
(
H,
0,
0
)
);
G = (
(
A,
0,
0
),
(
C,
0,
0
),
(
D,
0,
0
),
(
H,
0,
0
),
(
O,
1,
0
),
(
Q,
0,
0
),
(
x,
0,
0
)
);
Germandbls = (
(
B,
1,
0
),
(
S,
1,
0
),
(
T,
0,
0
),
(
germandbls,
0,
0
)
);
H = (
(
B,
0,
0
),
(
D,
0,
0
),
(
E,
0,
0
),
(
F,
0,
0
),
(
I,
0,
0
),
(
J,
0,
0
),
(
K,
0,
0
),
(
L,
0,
0
),
(
M,
0,
0
),
(
N,
1,
0
),
(
P,
0,
0
),
(
R,
0,
0
),
(
U,
1,
0
)
);
I = (
(
B,
0,
0
),
(
D,
0,
0
),
(
E,
0,
0
),
(
F,
0,
0
),
(
H,
0,
0
),
(
J,
0,
0
),
(
K,
0,
0
),
(
L,
0,
0
),
(
M,
0,
0
),
(
N,
0,
0
),
(
P,
0,
0
),
(
R,
0,
0
),
(
T,
1,
0
),
(
U,
0,
0
),
(
Y,
1,
0
),
(
i,
0,
0
),
(
l,
1,
0
),
(
one,
1,
0
)
);
IJ = (
(
I,
0,
0
),
(
J,
1,
0
),
(
U,
1,
0
)
);
J = (
(
I,
1,
0
),
(
U,
0,
0
)
);
K = (
(
B,
0,
0
),
(
H,
0,
0
),
(
I,
1,
0
),
(
R,
0,
0
),
(
X,
0,
0
),
(
Y,
0,
0
)
);
L = (
(
E,
0,
0
),
(
H,
0,
0
),
(
I,
1,
0
)
);
M = (
(
H,
1,
0
),
(
I,
0,
0
),
(
O,
0,
0
),
(
N,
0,
0
),
(
V,
0,
0
),
(
W,
0,
0
)
);
N = (
(
H,
1,
0
),
(
I,
0,
0
),
(
M,
0,
0
),
(
U,
0,
0
)
);
O = (
(
C,
1,
0
),
(
D,
0,
0
),
(
G,
1,
0
),
(
Q,
1,
0
),
(
zero,
1,
0
)
);
OE = (
(
E,
1,
0
),
(
O,
1,
0
),
(
OE,
1,
0
)
);
Oslash = (
(
O,
1,
0
),
(
Q,
0,
0
)
);
P = (
(
B,
1,
0
),
(
F,
1,
0
),
(
R,
1,
0
)
);
Q = (
(
C,
0,
0
),
(
D,
0,
0
),
(
G,
0,
0
),
(
O,
1,
0
),
(
R,
0,
0
)
);
R = (
(
B,
0,
0
),
(
F,
0,
0
),
(
P,
1,
0
),
(
Q,
0,
0
),
(
X,
0,
0
)
);
T = (
(
H,
0,
0
),
(
I,
1,
0
),
(
Y,
1,
0
)
);
Thorn = (
(
D,
0,
0
),
(
H,
0,
0
),
(
I,
0,
0
),
(
P,
1,
0
)
);
U = (
(
H,
0,
0
),
(
N,
1,
0
),
(
O,
0,
0
),
(
V,
0,
0
)
);
V = (
(
U,
0,
0
),
(
W,
0,
0
),
(
X,
0,
0
),
(
Y,
0,
0
),
(
H,
1,
0
)
);
W = (
(
M,
0,
0
),
(
V,
0,
0
)
);
X = (
(
K,
0,
0
),
(
N,
0,
0
),
(
R,
0,
0
),
(
V,
0,
0
),
(
Y,
1,
0
),
(
Z,
1,
0
)
);
Y = (
(
I,
0,
0
),
(
T,
1,
0
),
(
U,
0,
0
),
(
V,
1,
0
),
(
W,
0,
0
),
(
X,
0,
0
)
);
Z = (
(
L,
0,
0
),
(
T,
0,
0
),
(
X,
0,
0
)
);
ae = (
(
a,
1,
0
),
(
e,
1,
0
),
(
o,
0,
0
),
(
oe,
1,
0
)
);
ampersand = (
(
E,
0,
0
),
(
t,
0,
0
)
);
at = (
(
a,
1,
0
)
);
b = (
(
c,
0,
0
),
(
e,
0,
0
),
(
h,
1,
0
),
(
k,
0,
0
),
(
l,
0,
0
),
(
o,
1,
0
),
(
p,
1,
0
)
);
c = (
(
b,
0,
0
),
(
d,
0,
0
),
(
e,
1,
0
),
(
g,
0,
0
),
(
o,
1,
0
),
(
p,
0,
0
),
(
q,
0,
0
)
);
cent = (
(
c,
1,
0
)
);
d = (
(
c,
0,
0
),
(
eth,
0,
0
),
(
e,
0,
0
),
(
l,
0,
0
),
(
o,
1,
0
),
(
q,
1,
0
)
);
dollar = (
(
S,
1,
0
)
);
e = (
(
b,
0,
0
),
(
c,
1,
0
),
(
d,
0,
0
),
(
g,
0,
0
),
(
o,
1,
0
),
(
p,
0,
0
),
(
q,
0,
0
)
);
eight = (
(
B,
0,
0
),
(
zero,
1,
0
),
(
three,
1,
0
),
(
six,
0,
0
),
(
nine,
0,
0
)
);
eng = (
(
j,
1,
0
),
(
m,
0,
0
),
(
n,
1,
0
)
);
estimated = (
(
e,
0,
0
)
);
eth = (
(
d,
1,
0
),
(
o,
1,
0
)
);
euro = (
(
C,
1,
0
)
);
exclam = (
(
I,
1,
0
),
(
T,
0,
0
),
(
one,
0,
0
),
(
period,
1,
0
),
(
question,
1,
0
)
);
f = (
(
l,
0,
0
),
(
longs,
0,
0
),
(
germandbls,
0,
0
),
(
t,
1,
0
)
);
five = (
(
six,
1,
0
)
);
florin = (
(
f,
1,
0
)
);
franc = (
(
F,
1,
0
)
);
g = (
(
c,
0,
0
),
(
e,
0,
0
),
(
o,
1,
0
),
(
q,
0,
0
)
);
germandbls = (
(
B,
1,
0
),
(
b,
0,
0
),
(
f,
1,
0
),
(
s,
1,
0
),
(
longs,
1,
0
)
);
h = (
(
b,
1,
0
),
(
k,
0,
0
),
(
l,
0,
0
),
(
m,
0,
0
),
(
n,
1,
0
),
(
r,
0,
0
)
);
i = (
(
I,
0,
0
),
(
j,
1,
0
),
(
l,
1,
0
),
(
n,
0,
0
)
);
idotless = (
(
I,
0,
0
),
(
i,
0,
0
),
(
j,
0,
0
),
(
uni0237,
0,
0
),
(
l,
1,
0
),
(
n,
0,
0
)
);
j = (
(
i,
1,
0
),
(
l,
0,
0
),
(
n,
0,
0
)
);
k = (
(
b,
1,
0
),
(
h,
0,
0
),
(
l,
0,
0
),
(
x,
1,
0
)
);
l = (
(
I,
1,
0
),
(
b,
0,
0
),
(
h,
0,
0
),
(
k,
0,
0
),
(
i,
0,
0
),
(
one,
1,
0
)
);
longs = (
(
f,
1,
0
),
(
l,
0,
0
),
(
germandbls,
0,
0
)
);
m = (
(
h,
0,
0
),
(
n,
1,
0
),
(
r,
0,
0
),
(
w,
0,
0
)
);
mu = (
(
u,
1,
0
)
);
n = (
(
h,
0,
0
),
(
m,
0,
0
),
(
r,
0,
0
),
(
u,
1,
0
),
(
v,
0,
0
)
);
nine = (
(
zero,
1,
0
),
(
six,
1,
0
),
(
eight,
1,
0
)
);
o = (
(
b,
0,
0
),
(
c,
1,
0
),
(
d,
0,
0
),
(
eth,
0,
0
),
(
e,
1,
0
),
(
g,
0,
0
),
(
p,
0,
0
),
(
q,
0,
0
)
);
oe = (
(
ae,
1,
0
),
(
e,
1,
0
),
(
o,
1,
0
)
);
one = (
(
I,
1,
0
),
(
l,
1,
0
)
);
oslash = (
(
o,
1,
0
)
);
p = (
(
b,
1,
0
),
(
c,
0,
0
),
(
e,
0,
0
),
(
n,
0,
0
),
(
o,
1,
0
)
);
product = (
(
H,
1,
0
)
);
q = (
(
d,
1,
0
),
(
c,
0,
0
),
(
e,
0,
0
),
(
g,
0,
0
),
(
o,
1,
0
)
);
question = (
(
two,
1,
0
),
(
period,
1,
0
),
(
exclam,
1,
0
)
);
r = (
(
h,
0,
0
),
(
m,
0,
0
),
(
n,
1,
0
)
);
seven = (
(
T,
0,
0
)
);
six = (
(
zero,
1,
0
),
(
five,
1,
0
),
(
eight,
1,
0
),
(
nine,
0,
0
)
);
t = (
(
f,
1,
0
),
(
l,
0,
0
)
);
thorn = (
(
b,
1,
0
),
(
h,
1,
0
),
(
p,
1,
0
)
);
three = (
(
B,
0,
0
),
(
eight,
1,
0
)
);
two = (
(
question,
1,
0
)
);
u = (
(
n,
1,
0
),
(
v,
0,
0
)
);
uni0237 = (
(
i,
0,
0
),
(
idotless,
1,
0
),
(
l,
0,
0
),
(
n,
0,
0
)
);
uni20B9 = (
(
R,
1,
0
)
);
uni20BD = (
(
P,
1,
0
)
);
uni20BF = (
(
B,
1,
0
)
);
v = (
(
n,
0,
0
),
(
w,
0,
0
),
(
x,
0,
0
),
(
y,
1,
0
)
);
w = (
(
v,
0,
0
),
(
m,
0,
0
)
);
x = (
(
k,
1,
0
),
(
v,
0,
0
),
(
z,
0,
0
)
);
y = (
(
v,
1,
0
)
);
yen = (
(
Y,
1,
0
)
);
z = (
(
x,
0,
0
)
);
zero = (
(
O,
1,
0
)
);
};
com.eweracs.HTLSManager.fontRules = {
Letter = {
};
Mark = {
};
Number = {
};
Punctuation = {
};
Symbol = {
};
};
"com.hugojourdan.ColorFlow-Report_Data" = {
m01 = {
A = None;
B = None;
C = None;
D = None;
E = None;
F = None;
G = None;
H = None;
I = None;
J = None;
K = None;
L = None;
M = None;
N = None;
O = None;
P = None;
Q = None;
R = None;
S = None;
T = None;
U = None;
V = None;
W = None;
X = None;
Y = None;
Z = None;
a = None;
b = None;
c = None;
d = None;
e = None;
f = None;
g = None;
h = None;
i = None;
j = None;
k = None;
l = None;
m = None;
n = None;
o = None;
p = None;
q = None;
r = None;
s = None;
space = None;
t = None;
u = None;
v = None;
w = None;
x = None;
y = None;
z = None;
};
};
"com.hugojourdan.ColorFlow-currentFont" = "<null>";
"com.hugojourdan.ColorFlow-export" = "<null>";
"com.hugojourdan.ColorFlow-master-data" = {
m01 = {
"0" = 0;
"1" = 0;
"10" = 0;
"11" = 0;
"2" = 0;
"3" = 0;
"4" = 0;
"5" = 0;
"6" = 0;
"7" = 0;
"8" = 0;
"9" = 0;
};
};
"com.hugojourdan.ColorFlow-selectedLayer" = 1;
"com.hugojourdan.ColorFlow-selectedLayer-data" = {
"0" = 0;
"1" = 0;
"10" = 0;
"11" = 0;
"2" = 0;
"3" = 0;
"4" = 0;
"5" = 0;
"6" = 0;
"7" = 0;
"8" = 0;
"9" = 0;
};
"com.hugojourdan.ColorFlow-selectedMaster" = {
iconName = SemiBold;
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
pos = 0;
},
{
over = -16;
pos = -200;
}
);
name = Medium;
stems = (
{
id = "BB10C48B-E9E4-440E-9DDE-E66EEE27D47B";
width = 100;
}
);
};
};
versionMajor = 1;
versionMinor = 0;
}
