(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
A.init,
B.init,
C.init,
D.init,
E.init,
F.init,
G.init,
H.init,
I.init,
J.init,
K.init,
L.init,
M.init,
N.init,
O.init,
P.init,
Q.init,
R.init,
S.init,
T.init,
U.init,
V.init,
W.init,
X.init,
Y.init,
Z.init,
A.init.alt,
B.init.alt,
C.init.alt,
D.init.alt,
E.init.alt,
F.init.alt,
G.init.alt,
H.init.alt,
I.init.alt,
J.init.alt,
K.init.alt,
L.init.alt,
M.init.alt,
N.init.alt,
O.init.alt,
P.init.alt,
Q.init.alt,
R.init.alt,
S.init.alt,
T.init.alt,
U.init.alt,
V.init.alt,
W.init.alt,
X.init.alt,
Y.init.alt,
Z.init.alt,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
a.fina,
b.fina,
c.fina,
d.fina,
e.fina,
f.fina,
g.fina,
h.fina,
i.fina,
j.fina,
k.fina,
l.fina,
m.fina,
n.fina,
o.fina,
p.fina,
q.fina,
r.fina,
s.fina,
t.fina,
u.fina,
v.fina,
w.fina,
x.fina,
y.fina,
z.fina,
a.fina.alt,
b.fina.alt,
c.fina.alt,
d.fina.alt,
e.fina.alt,
f.fina.alt,
g.fina.alt,
h.fina.alt,
i.fina.alt,
j.fina.alt,
k.fina.alt,
l.fina.alt,
m.fina.alt,
n.fina.alt,
o.fina.alt,
p.fina.alt,
q.fina.alt,
r.fina.alt,
s.fina.alt,
t.fina.alt,
u.fina.alt,
v.fina.alt,
w.fina.alt,
x.fina.alt,
y.fina.alt,
z.fina.alt,
a_a.liga,
a_n.liga,
a_t.liga,
b_b.liga,
b_c.liga,
c_c.liga,
c_d.liga,
d_d.liga,
e_d.liga,
e_e.liga,
e_n.liga,
e_r.liga,
e_s.liga,
f_f.liga,
g_g.liga,
h_a.liga,
h_e.liga,
h_h.liga,
h_i.liga,
i_i.liga,
i_n.liga,
i_s.liga,
i_t.liga,
j_j.liga,
k_k.liga,
l_l.liga,
m_m.liga,
n_d.liga,
n_g.liga,
n_n.liga,
n_u.liga,
o_n.liga,
o_o.liga,
o_r.liga,
o_u.liga,
p_p.liga,
q_q.liga,
r_e.liga,
r_r.liga,
s_s.liga,
t_h.liga,
t_o.liga,
t_t.liga,
u_n.liga,
u_u.liga,
v_v.liga,
w_w.liga,
x_x.liga,
y_y.liga,
z_z.liga,
a_a.liga.alt1,
a_n.liga.alt1,
a_t.liga.alt1,
b_b.liga.alt1,
b_c.liga.alt1,
c_c.liga.alt1,
c_d.liga.alt1,
d_d.liga.alt1,
e_d.liga.alt1,
e_e.liga.alt1,
e_n.liga.alt1,
e_r.liga.alt1,
e_s.liga.alt1,
f_f.liga.alt1,
g_g.liga.alt1,
h_a.liga.alt1,
h_e.liga.alt1,
h_h.liga.alt1,
h_i.liga.alt1,
i_i.liga.alt1,
i_n.liga.alt1,
i_s.liga.alt1,
i_t.liga.alt1,
j_j.liga.alt1,
k_k.liga.alt1,
l_l.liga.alt1,
m_m.liga.alt1,
n_d.liga.alt1,
n_g.liga.alt1,
n_n.liga.alt1,
n_u.liga.alt1,
o_n.liga.alt1,
o_o.liga.alt1,
o_r.liga.alt1,
o_u.liga.alt1,
p_p.liga.alt1,
q_q.liga.alt1,
r_e.liga.alt1,
r_r.liga.alt1,
s_s.liga.alt1,
t_h.liga.alt1,
t_o.liga.alt1,
t_t.liga.alt1,
u_n.liga.alt1,
u_u.liga.alt1,
v_v.liga.alt1,
w_w.liga.alt1,
x_x.liga.alt1,
y_y.liga.alt1,
z_z.liga.alt1,
a_a.liga.alt2,
a_n.liga.alt2,
a_t.liga.alt2,
b_b.liga.alt2,
b_c.liga.alt2,
c_c.liga.alt2,
c_d.liga.alt2,
d_d.liga.alt2,
e_d.liga.alt2,
e_e.liga.alt2,
e_n.liga.alt2,
e_r.liga.alt2,
e_s.liga.alt2,
f_f.liga.alt2,
g_g.liga.alt2,
h_a.liga.alt2,
h_e.liga.alt2,
h_h.liga.alt2,
h_i.liga.alt2,
i_i.liga.alt2,
i_n.liga.alt2,
i_s.liga.alt2,
i_t.liga.alt2,
j_j.liga.alt2,
k_k.liga.alt2,
l_l.liga.alt2,
m_m.liga.alt2,
n_d.liga.alt2,
n_g.liga.alt2,
n_n.liga.alt2,
n_u.liga.alt2,
o_n.liga.alt2,
o_o.liga.alt2,
o_r.liga.alt2,
o_u.liga.alt2,
p_p.liga.alt2,
q_q.liga.alt2,
r_e.liga.alt2,
r_r.liga.alt2,
s_s.liga.alt2,
t_h.liga.alt2,
t_o.liga.alt2,
t_t.liga.alt2,
u_n.liga.alt2,
u_u.liga.alt2,
v_v.liga.alt2,
w_w.liga.alt2,
x_x.liga.alt2,
y_y.liga.alt2,
z_z.liga.alt2,
a_a.liga.alt3,
a_n.liga.alt3,
a_t.liga.alt3,
b_b.liga.alt3,
b_c.liga.alt3,
c_c.liga.alt3,
c_d.liga.alt3,
d_d.liga.alt3,
e_d.liga.alt3,
e_e.liga.alt3,
e_n.liga.alt3,
e_r.liga.alt3,
e_s.liga.alt3,
f_f.liga.alt3,
g_g.liga.alt3,
h_a.liga.alt3,
h_e.liga.alt3,
h_h.liga.alt3,
h_i.liga.alt3,
i_i.liga.alt3,
i_n.liga.alt3,
i_s.liga.alt3,
i_t.liga.alt3,
j_j.liga.alt3,
k_k.liga.alt3,
l_l.liga.alt3,
m_m.liga.alt3,
n_d.liga.alt3,
n_g.liga.alt3,
n_n.liga.alt3,
n_u.liga.alt3,
o_n.liga.alt3,
o_o.liga.alt3,
o_r.liga.alt3,
o_u.liga.alt3,
p_p.liga.alt3,
q_q.liga.alt3,
r_e.liga.alt3,
r_r.liga.alt3,
s_s.liga.alt3,
t_h.liga.alt3,
t_o.liga.alt3,
t_t.liga.alt3,
u_n.liga.alt3,
u_u.liga.alt3,
v_v.liga.alt3,
w_w.liga.alt3,
x_x.liga.alt3,
y_y.liga.alt3,
z_z.liga.alt3,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.alt1,
one.alt1,
two.alt1,
three.alt1,
four.alt1,
five.alt1,
six.alt1,
seven.alt1,
eight.alt1,
nine.alt1,
space,
period,
hyphen
)