{
displayStrings = (
"/a_a.liga.alt3/a_n.liga.alt3/a_t.liga.alt3/b_b.liga.alt3/b_c.liga.alt3/c_c.liga.alt3/c_d.liga.alt3/d_d.liga.alt3/e_d.liga.alt3/e_e.liga.alt3/e_n.liga.alt3/e_r.liga.alt3/e_s.liga.alt3/f_f.liga.alt3/g_g.liga.alt3/h_a.liga.alt3/h_e.liga.alt3/h_h.liga.alt3/h_i.liga.alt3/i_i.liga.alt3/i_n.liga.alt3/i_s.liga.alt3/i_t.liga.alt3/j_j.liga.alt3/k_k.liga.alt3/l_l.liga.alt3/m_m.liga.alt3/n_d.liga.alt3/n_g.liga.alt3/n_n.liga.alt3/n_u.liga.alt3/o_n.liga.alt3/o_o.liga.alt3/o_r.liga.alt3/o_u.liga.alt3/p_p.liga.alt3/q_q.liga.alt3/r_e.liga.alt3/r_r.liga.alt3/s_s.liga.alt3/t_h.liga.alt3/t_o.liga.alt3/t_t.liga.alt3/u_n.liga.alt3/u_u.liga.alt3/v_v.liga.alt3/w_w.liga.alt3/x_x.liga.alt3/y_y.liga.alt3/z_z.liga.alt3",
"/a_a.liga.alt2/a_n.liga.alt2/a_t.liga.alt2/b_b.liga.alt2/b_c.liga.alt2/c_c.liga.alt2/c_d.liga.alt2/d_d.liga.alt2/e_d.liga.alt2/e_e.liga.alt2/e_n.liga.alt2/e_r.liga.alt2/e_s.liga.alt2/f_f.liga.alt2/g_g.liga.alt2/h_a.liga.alt2/h_e.liga.alt2/h_h.liga.alt2/h_i.liga.alt2/i_i.liga.alt2/i_n.liga.alt2/i_s.liga.alt2/i_t.liga.alt2/j_j.liga.alt2/k_k.liga.alt2/l_l.liga.alt2/m_m.liga.alt2/n_d.liga.alt2/n_g.liga.alt2/n_n.liga.alt2/n_u.liga.alt2/o_n.liga.alt2/o_o.liga.alt2/o_r.liga.alt2/o_u.liga.alt2/p_p.liga.alt2/q_q.liga.alt2/r_e.liga.alt2/r_r.liga.alt2/s_s.liga.alt2/t_h.liga.alt2/t_o.liga.alt2/t_t.liga.alt2/u_n.liga.alt2/u_u.liga.alt2/v_v.liga.alt2/w_w.liga.alt2/x_x.liga.alt2/y_y.liga.alt2/z_z.liga.alt2",
"/b_c.liga.alt2",
"/i_n.liga.alt2",
"/e_r.liga.alt2",
"/e_s.liga.alt3",
H,
A,
"BEFILMNP/A.init/B.init/E.init/F.init/H.init/I.init/L.init/M.init/N.init/P.init/A.init.alt/B.init.alt/E.init.alt/F.init.alt/H.init.alt/I.init.alt/L.init.alt/M.init.alt/N.init.alt/P.init.alt",
R,
"/R.init"
);
}
