{
displayStrings = (
"Internalization Chorization Hazardable Palatalizes Substantializes Lanzhou Homogenizing Haze Gallinazo Rapturize Peptonized Frizzliest Bazookas Palatalize Cutinized Regionalized Breezy Quartzy Anathematization Czechs Bureaucratizes Sensualizing Generalizing Kazantzakis Manzanita Recrystallized Magnetizations Marketization Neeze Anzus",
"/y.fina/y.fina.alt/y_y.liga/y_y.liga.alt1/y_y.liga.alt2/y_y.liga.alt3",
"mmnn/w.fina/w.fina.alt/w_w.liga/w_w.liga.alt1/w_w.liga.alt2/w_w.liga.alt3",
"ooww/v_v.liga nn/v_v.liga.alt1/v_v.liga.alt2/v_v.liga.alt3",
"/v.fina/v.fina.alt/v_v.liga/v_v.liga.alt1/v_v.liga.alt2/v_v.liga.alt3",
"/u.fina/u.fina.alt/n_u.liga/u_n.liga/u_u.liga/n_u.liga.alt1/u_n.liga.alt1/u_u.liga.alt1/n_u.liga.alt2/u_n.liga.alt2/u_u.liga.alt2/n_u.liga.alt3/u_n.liga.alt3/u_u.liga.alt3"
);
}
